@model IEnumerable<Cafe.Web.Models.Table>

@{
    ViewBag.Title = "ListTable";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}

<h2>ListTable</h2>

<head>
    <link href="~/Content/Table.css" rel="stylesheet" />
</head>
<div>
    @Html.ActionLink("Create New", "CreateTable")
</div>


<ul id="uL">
    @foreach (var item in Model)
    {
        <li id="Li">
            <h3 id="text">@Html.DisplayFor(modelItem => item.TableNo)</h3>
            <p id="text">@Html.DisplayFor(modelItem => item.TableStatus)</p>
            <div id="text">@($"{item.TotalPrice} ({item.TotalQuantity})")</div>
        </li>
    }
</ul>
