@model IEnumerable<Cafe.Web.Models.Table>

@{
    ViewBag.Title = "SelectTable";
    Layout = "~/Views/Shared/Customer_LayoutPage.cshtml";
}
<head>
    <link href="~/Content/Table.css" rel="stylesheet" />
</head>

<h2>SelectTable</h2>

<ul id="uL">
    @foreach (var item in Model)
    {
        <li id="Li">
            <h3 id="text">@Html.DisplayFor(modelItem => item.TableNo)</h3>
            <p id="text">@Html.DisplayFor(modelItem => item.TableStatus)</p>
            <div id="text">@Html.ActionLink("Select", "SelectedTable", new { id = item.TableId })</div>
        </li>
    }
</ul>