.form-horizontal {
    text-align: center;
    background-color: lightgray;
    margin: 13px 409px;
    padding: 54px 86px;
    min-height: 457px;
    min-width: 340px;
    box-shadow: 6px 9px #e1e1d0;
    border-radius: 25px;
}



.Cafelogo {
    max-width: 200px;
    max-height: 400px
}

#LabelText,#LabelTextPass {
    float: left;
    margin-left: 5px;
    width: 80%;
}

#Button {
    float: right;
    margin-right: 57px;
}
#ExtraButton {
    float: left;
}
